.header {
  height: 34vw;
  margin: 30px auto;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/e5182829090891.55e19f6bbb6aa.jpg")
    no-repeat center center;
  background-size: cover;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 45%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 600;
  color: white;
  font-size: max(4.5vw, 22px);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.header-contents p {
  color: white;
  font-size: 1.2vw;
  line-height: 1.5;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.header-contents button {
  border: none;
  color: #ffffff;
  background-color: #ff6347;
  font-weight: 500;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-contents button:hover {
  background-color: #ff4500;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 60%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 75%;
  }

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}
